{% extends 'base.twig' %}

{% block main %}

{# Masthead #}
<div>
    <header class="h-screen bg-cc-mid-grey">
        <div class="container flex items-center justify-center h-full mx-auto max-w-container">
            <h2 class="text-2xl text-cc-white">About Us</h2>
        </div>
    </header>
</div>

{# Intro #}
<div>
    <div class="py-20">
        <div class="container mx-auto max-w-container">
            <div class="grid grid-cols-12">
                <div class="col-span-6">
                    <h3 class="mb-4 text-2xl text-cc-dark-grey">Who is Concrete</h3>
                </div>
                <div class="col-span-6">
                    <h4 class="text-lg">About Us</h4>
                    <p class="text-sm text-cc-mid-grey">We’re a small independent design studio that was founded in 2017 by Chris Smith. We firmly believe in the transformative power of creativity through a collaborative process with our clients. With expertise across a wide range of design services we craft contemporary and meaningful projects that leave a lasting impression.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{# Working with us #}
<div>
    <div class="py-20">
        <div class="container mx-auto">
            <div class="grid grid-cols-12 gap-8">
                <div class="col-span-6">
                    <div class="rounded-lg bg-cc-mid-grey  h-[784px]">

                    </div>
                </div>
                <div class="col-span-6">
                    <div class="rounded-lg bg-cc-mid-grey h-[376px] mb-8">
                    </div>
                    
                    <h4 class="text-lg">Working with us</h4>
                    <p class="text-sm text-cc-mid-grey">We’re a small independent design studio that was founded in 2017 by Chris Smith. We firmly believe in the transformative power of creativity through a collaborative process with our clients. With expertise across a wide range of design services we craft contemporary and meaningful projects that leave a lasting impression.</p>

                </div>
            </div>
        </div>
    </div>  
</div>

{# Our Process #}

{# Wide image #}
<div>
    <div class="min-h-[756px] bg-cc-mid-grey">
        {# <img src=""> #}
    </div>
</div>

{# Latest projects #}
<div>
    <div class="py-16 bg-cc-light-grey">
        <div class="container mx-auto max-w-container">
            <div>
                <h3 class="mb-6 text-xl text-cc-dark-grey">Latest Projects</h3>
            </div>
            <div class="grid grid-cols-2 gap-8 auto-rows-max">
                {% for i in 0..3 %}
                    <a class="p-8 pt-16 rounded-lg bg-cc-mid-grey min-h-[376px] hover:scale-105 transition-all hover:shadow-lg shadow-none" href="#">
                        <div class="flex flex-col justify-between h-full " >
                            <div>
                                <h4 class="text-xl text-cc-white">Description text to go here for project</h4>
                            </div>
                            <div class="flex gap-2">
                                {% set tags = ['Branding', 'Design', 'Digital', 'Motion', 'Display' ] %}
                                {% for tag in tags %}
                                    <span  class="inline-block p-1 px-2 rounded text-cc-white bg-cc-white bg-opacity-30">{{ tag }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </a>  
                {% endfor %}
            </div>   
        </div>
    </div>
    <div class="py-16">
        <div class="container flex justify-center mx-auto max-w-container">
            <a href="#" class="inline-block py-1 border rounded-lg px-7 text-2md border-cc-dark-grey hover:bg-cc-dark-grey hover:text-cc-white">See all work</a>
        </div>
    </div>
</div>

{% endblock %}