{% extends 'base.twig' %}

{% block main %}
  {# Masthead #}
  <div>
    <header class="h-screen bg-cc-mid-grey">
      <div class="container flex justify-center items-center mx-auto h-full max-w-container">
        <h2 class="text-3xl text-cc-white">About Us</h2>
      </div>
    </header>
  </div>

  {# Intro #}
  <div>
    <div class="py-20">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-12">
          <div class="col-span-6">
            <h3 class="mb-4 text-3xl text-cc-dark-grey">Who is Concrete</h3>
          </div>
          <div class="col-span-6">
            <h4 class="text-lg text-cc-dark-grey">About Us</h4>
            <p class="text-sm text-cc-mid-grey">We're a small independent design studio that was founded in 2017 by Chris Smith. We firmly believe in the transformative power of creativity through a collaborative process with our clients. With expertise across a wide range of design services we craft contemporary and meaningful projects that leave a lasting impression.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Wide image #}
  <div>
    <div class="min-h-[756px] bg-cc-mid-grey">
      {# <img src=""> #}
    </div>
  </div>

  {# Working with us #}
  <div>
    <div class="py-20">
      <div class="container mx-auto">
        <div class="grid grid-cols-12 gap-8">
          <div class="col-span-6">
            <div class="rounded-lg bg-cc-mid-grey h-[784px]"></div>
          </div>
          <div class="col-span-6">
            <div class="rounded-lg bg-cc-mid-grey h-[376px] mb-8"></div>
            <h4 class="text-lg">Working with us</h4>
            <p class="text-sm text-cc-mid-grey">We're a small independent design studio that was founded in 2017 by Chris Smith. We firmly believe in the transformative power of creativity through a collaborative process with our clients. With expertise across a wide range of design services we craft contemporary and meaningful projects that leave a lasting impression.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Our Process #}
  <div>
    <div class="bg-cc-dark-grey">
      <div class="py-20">
        <div class="container mx-auto max-w-container">

          <div class="border-b border-b-cc-white">
            <div class="grid grid-cols-12">
              <div class="col-span-12">
                <div class="pb-8">
                  <h3 class="mt-0 mb-4 text-lg leading-none text-cc-white">Our Process</h3>
                  <p class="text-sm text-cc-grey">Every project will have its own process but they are always guided by our three core principles</p>
                </div>
              </div>
            </div>
          </div>

          <ul>
            {% for i in 1..3 %}
              <li class="{% if not loop.last %} border-b {% endif %} pt-8   border-b-cc-white">
                <div class="grid grid-cols-12">
                  <div class="col-span-9">
                    <div class="pb-8">
                      <h3 class="mt-0 mb-4 text-lg leading-none text-cc-white">Our Process</h3>
                      <p class="text-sm text-cc-grey">Every project will have its own process but they are always guided by our three core principles</p>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {# Clients #}
  <div>
    <div class="py-16 bg-cc-white">
      <div class="container mx-auto max-w-container">
        <div class="mb-20">
          <h3 class="mb-4 text-xl text-cc-dark-grey">Who we've worked with</h3>
          <div>
            <p class="text-sm text-cc-mid-grey">We have worked with clients from all over the world and within a diverse range of industries. Local and international, big and small, public and private, established and start ups. Our clients are all innovators in their own fields and are not afraid to think outside of the box. Working with like minded individuals helps us to push each other to deliver outstanding creative solutions.</p>
          </div>
        </div>
        <div class="grid grid-cols-5 auto-rows-max gap-24">
          {% set logos = ['animals-asia', 'ardardan', 'bighearted', 'citz', 'erskine', 'finlays', 'ies', 'montys', 'turner', 'urbancroft'] %}

          {% for logo in logos %}
            <div class="flex items-center">
              <img src="{{ site.theme.link }}/svg/client-logos/{{ logo }}.svg" />
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="py-16">
      <div class="container max-w-container">
        <div class="grid grid-cols-12 gap-8">
          <div class="col-span-6">
            <div class="bg-cc-mid-grey h-[376px] rounded-lg"></div>
          </div>
          <div class="col-span-6">
            <h3 class="mb-4 text-xl text-cc-dark-grey">Why Concrete?</h3>
            <div>
              <p class="text-sm text-cc-mid-grey">We have worked with clients from all over the world and within a diverse range of industries. Local and international, big and small, public and private, established and start ups. Our clients are all innovators in their own fields and are not afraid to think outside of the box. Working with like minded individuals helps us to push each other to deliver outstanding creative solutions.</p>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>

  {# testimonials #}
  <div>
    <div class="py-16 bg-cc-light-grey">
      <div class="container max-w-container">
        <div class="grid grid-cols-12">
          <div class="col-span-12">
            <div>
              <div class="glide">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    {% for i in 1..3 %}
                      <li class="glide__slide">
                        <div class="max-w-[736px] mx-auto">
                          <h3 class="mb-4 text-lg text-cc-dark-grey">What our clients say</h3>
                          <p class="mb-2 text-md text-cc-dark-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam velit risus, venenatis vitae euismod quis, vestibulum at turpis. Suspendisse luctus mi sed eros congue, at molestie urna mattis.</p>
                          <p class="text-sm text-cc-dark-grey">Persons Name, Company</p>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                <div class="glide__arrows" data-glide-el="controls">
                  <button class="transition-opacity hover:opacity-50 glide__arrow glide__arrow--left" data-glide-dir="<">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24.75 46.67" width="32" height="32">
                      <defs>
                        <style>
                          .cls-1, .cls-2 {
                            fill: none;
                          }

                          .cls-2 {
                            stroke: #464d53;
                            stroke-width: 2px;
                          }

                          .cls-3 {
                            clip-path: url(#clippath);
                          }
                        </style>
                        <clipPath id="clippath">
                          <rect class="cls-1" x="0" y="0" width="24.75" height="46.67"/>
                        </clipPath>
                      </defs>
                      <g class="cls-3">
                        <polyline class="cls-2" points="24.04 .71 1.41 23.34 24.04 45.96"/>
                      </g>
                    </svg>
                  </button>
                  <button class="transition-opacity hover:opacity-50 glide__arrow glide__arrow--right" data-glide-dir=">">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24.75 46.67" width="32" height="32">
                      <defs>
                        <style>
                          .cls-1, .cls-2 {
                            fill: none;
                          }

                          .cls-2 {
                            stroke: #464d53;
                            stroke-width: 2px;
                          }

                          .cls-3 {
                            clip-path: url(#clippath);
                          }
                        </style>
                        <clipPath id="clippath">
                          <rect class="cls-1" x="0" y="0" width="24.75" height="46.67"/>
                        </clipPath>
                      </defs>
                      <g class="cls-3">
                        <polyline class="cls-2" points=".71 45.96 23.34 23.33 .71 .71"/>
                      </g>
                    </svg>
                  </button>
                </div>
              </div>
              <script>
                new Glide('.glide').mount()
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Latest projects #}
  {% include 'partials/latest-projects.twig' with {
    background: 'bg-cc-white'
  } %}

  {# Our Services #}
  {% include 'partials/our-services.twig' %}

  {# Get in touch #}
  <div>
    <div class="bg-cc-white">
      <div class="container mx-auto max-w-container">
        <div class="py-20">
          <h3 class="mb-4 text-lg fnt-bld text-cc-dark-grey">Have an idea of a project you'd like to work on?</h3>
          <p class="text-md text-cc-dark-grey" >We'd love to hear from you to see how we could help. Call us on 0141 724 0089 or tap the button below.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
