<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ theme.link }}/dist/main.css">
    <link href="https://fonts.cdnfonts.com/css/effra-heavy" rel="stylesheet">
    
    {{ function('wp_head')  }}

</head>
<body>
    
{{ function('wp_footer') }}

<p class="text-cc-dark-grey">Dark grey</p>

</body>
</html>