{% extends 'base.twig' %}

{% block main %}

{# Masthead #}
<div>
    <header class="h-screen bg-cc-mid-grey">
        <div class="container flex justify-center items-center mx-auto h-full max-w-container">
        </div>
    </header>
</div>

{# Intro #}
<div>
    <div class="py-20">
        <div class="container mx-auto max-w-container">
            <div class="grid grid-cols-12">
                <div class="col-span-9">
                    <h3 class="mb-4 text-3xl text-cc-dark-grey">{{ intro.heading }}</h3>
                    <p class="text-xl text-cc-mid-grey">{{ intro.text }}</p>
                </div>
                <div class="col-span-3">

                </div>
            </div>
        </div>
    </div>
</div>


{% include 'partials/latest-projects.twig' with {
    background: 'bg-cc-light-grey',
    title: 'Featured Projects',
    projects: featured_projects
} %}


{% endblock %}