{% extends 'base.twig' %}

{% block main %}

{# Masthead #}
<div>
    <header class="h-screen bg-cc-mid-grey">
        <div class="container flex items-center justify-center h-full mx-auto max-w-container">
            <h2 class="text-3xl text-cc-white">Page title</h2>
        </div>
    </header>
</div>

{# Intro #}
<div>
    <div class="py-20">
        <div class="container mx-auto max-w-container">
            <div class="grid grid-cols-12">
                <div class="col-span-9">
                    <h3 class="mb-4 text-3xl text-cc-dark-grey">Building brands with bold ideas</h3>
                    <p class="text-xl text-cc-mid-grey">Collaborating with clients from various industries to develop unique concepts that captivate and connect with audiences.</p>
                </div>
                <div class="col-span-3">

                </div>
            </div>
        </div>
    </div>
</div>


{% include 'partials/latest-projects.twig' with {
    background: 'bg-cc-light-grey'
} %}


{% endblock %}