{% extends 'base.twig' %}

{% block main %}
  {# Masthead #}
  {% include 'partials/masthead.twig' with {
    title: 'Our Work',
    background_image: post.thumbnail.src
  } %}

  {# Projects #}
  <div>
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        {% for projects in projects|batch(6) %}
          {# 3 up layout #}
          {% if projects|slice(0, 3)|length > 0 %}
            <div class="grid grid-cols-2 grid-rows-2 gap-8 {% if not loop.first %}mt-8{% endif %}">
              {% for project in projects|slice(0, 3) %}
                {% include 'partials/project-card.twig' with { 
                  project: project,
                  custom_classes: loop.first ? 'min-h-[376px] row-span-2' : 'min-h-[376px]',
                  is_double_height: loop.first
                } %}
              {% endfor %}
            </div>
          {% endif %}

          {# 2 up layout #}
          {% if projects|slice(3, 2)|length > 0 %}
            <div class="grid grid-cols-2 gap-8 mt-8">
              {% for project in projects|slice(3, 2) %}
                {% include 'partials/project-card.twig' with { 
                  project: project,
                  custom_classes: 'min-h-[376px]'
                } %}
              {% endfor %}
            </div>
          {% endif %}

          {# 1 up layout #}
          {% if projects|slice(5, 1)|length > 0 %}
            <div class="grid grid-cols-1 gap-8 mt-8">
              {% for project in projects|slice(5, 1) %}
                {% include 'partials/project-card.twig' with { 
                  project: project,
                  custom_classes: 'min-h-[784px]'
                } %}
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  {# CTA #}
  {% include 'partials/cta.twig' with {
    background: 'cc-light-grey'
  } %}
{% endblock %}
