{% extends 'base.twig' %}

{% block main %}
  {# Masthead #}
  <div>
    <header class="h-screen bg-cc-mid-grey">
      <div class="container flex justify-center items-center mx-auto h-full max-w-container">
        <h2 class="text-3xl text-cc-white">Our Services</h2>
      </div>
    </header>
  </div>

  {# Services #}
  <div>
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="mb-20">
          <h3 class="mb-4 text-3xl text-cc-dark-grey">Delivering creative solutions together</h3>
          <p class="text-xl text-cc-mid-grey">We're a team of creative professionals who are passionate about delivering creative solutions that help businesses grow.</p>
        </div>

        {% for service in 1..6 %}
          <div class="grid grid-cols-12 gap-8 mb-20">
            {% if loop.index is odd %}
              <div class="col-span-6">
                <div class="bg-cc-mid-grey h-[376px] rounded-lg"></div>
              </div>
              <div class="col-span-6">
                <h4 class="text-lg text-cc-dark-grey">Service {{ service }}</h4>
                <p class="mb-14 text-2md text-cc-mid-grey">We're a team of creative professionals who are passionate about delivering creative solutions that help businesses grow.</p>

                {% include 'partials/btn.twig' with { color: 'cc-mid-grey' } %}
              </div>
            {% else %}
              <div class="col-span-6">
                <h4 class="text-lg text-cc-dark-grey">Service {{ service }}</h4>
                <p class="mb-14 text-2md text-cc-mid-grey">We're a team of creative professionals who are passionate about delivering creative solutions that help businesses grow.</p>

                {% include 'partials/btn.twig' with { color: 'cc-mid-grey' } %}
              </div>
              <div class="col-span-6">
                <div class="bg-cc-mid-grey h-[376px] rounded-lg"></div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
