{% extends 'base.twig' %}

{% block main %}
  {# Masthead #}
  <div>
    <header class="h-screen bg-cc-mid-grey">
      <div class="container flex justify-center items-center mx-auto h-full max-w-container">
        <h2 class="text-3xl text-cc-white">{{ post.title }}</h2>
      </div>
    </header>
  </div>

  {# Intro #}
  <div>
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-2 gap-8">
          <div class="col-span-2">
            <h3 class="text-3xl text-cc-dark-grey">Branding</h3>
            <p class="mb-0 text-xl text-cc-mid-grey">A visual representation of your business that tells your story and shows the world who you are and what you stand for.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Paragraph #}
  <div>
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-12 gap-8">
          <div class="col-span-9">
            <div class="mt-12">
              <p class="text-sm text-cc-mid-grey">{{ post.description }}</p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

  {# CTA #}
  {% include 'partials/cta.twig' %}

  {# Latest projects #}
  {% include 'partials/latest-projects.twig' with {
    background: 'bg-cc-white',
    count: 2,
    title: 'Related Projects'
  } %}

{% endblock %} 