{% extends 'base.twig' %}

{% block main %}
  {# Masthead #}
  <div>
    <header class="h-screen bg-cc-mid-grey">
      <div class="container flex items-center justify-center h-full mx-auto max-w-container">
        <h2 class="text-2xl text-cc-white">Family Sentence</h2>
      </div>
    </header>
  </div>

  {# Intro #}
  <div>
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-2">
          <div class="col-auto">
            <p>Family Sentence</p>
            <p>Design</p>
            <h3>Building relationships through arts education in prisons</h3>
          </div>
          <div class="col-auto">
            <p>What effect does a prison sentence have upon a family? This question was the catalyst for a life-changing two-year community theatre project by Barlinnie prisoners, and members of the Garthamlock Community Group, led by the Citizens Theatre in partnership with New College Lanarkshire and Scottish Prison Service (SPS). Funding was provided by Creative Scotland. The project also benefited from advice and support from Families Outside and other agencies working to support families affected by imprisonment.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Paragraph #}
  <div>
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-12 gap-8">
          <div class="col-span-9">
            <div class="mt-12">
              <p>We were approached by New College Lanarkshire and SPS having previously worked with them on a number of different projects. It was important after such a momentous project that everything that was learned was documented. We designed two brochures for this project, an evaluation document and a resource book for teachers.</p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

  {# CTA #}
  <div class="bg-cc-light-grey">
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-12 gap-8">
          <div class="col-span-9">
            <div class="mt-12">
              <h3>Have an idea of a project you’d like to work on?</h3>
              <p>For more information on this project, please contact us.</p>
              
              {% include 'partials/btn.twig' %}
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

  {# 3 images #}
  {# <div class="bg-white">
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-2 gap-8">
          <div class="col-span-2">
            <img class="w-full rounded-lg" src="https://placehold.co/1120x544" />
          </div>
          <div class="col-span-1">
            <img class="w-full rounded-lg" src="https://placehold.co/544x376" />
          </div>
          <div class="col-span-1">
            <img class="w-full rounded-lg" src="https://placehold.co/544x376" />
          </div>
        </div>
        <div class="grid grid-cols-12 gap-8">
          <div class="col-span-9">
            <div class="mt-12">
              <p>We were approached by New College Lanarkshire and SPS having previously worked with them on a number of different projects. It was important after such a momentous project that everything that was learned was documented. We designed two brochures for this project, an evaluation document and a resource book for teachers.</p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div> #}

  {# 3 images - grey background #}
  {# <div class="bg-cc-light-grey">
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-2 gap-8">
          <div class="col-span-2">
            <img class="w-full rounded-lg" src="https://placehold.co/1120x544" />
          </div>
          <div class="col-span-1">
            <img class="w-full rounded-lg" src="https://placehold.co/544x376" />
          </div>
          <div class="col-span-1">
            <img class="w-full rounded-lg" src="https://placehold.co/544x376" />
          </div>
        </div>
      </div>
    </div>
  </div> #}

  {% include 'partials/latest-projects.twig' with {
    background: 'bg-cc-white',
    count: 2
  } %}

 
{% endblock %}
