{% extends 'base.twig' %}

{% block main %}
    {# Masthead #}
    {% include 'partials/masthead.twig' with {
        title: post.title,
        background_image: post.thumbnail.src
    } %}

    {# Intro #}
    <div>
        <div class="py-16">
            <div class="container mx-auto max-w-container">
                <p class="mb-4 text-3xl text-cc-dark-grey">{{ post.title }}</p>
                <div class="text-xl text-cc-mid-grey">{{ post.meta('service_intro_summary') }}</div>
            </div>
        </div>
    </div>

    {# Service Content - Gutenberg #}
    {% if post.content %}
        <div class="bg-cc-white">
            <div class="pb-16">
                <div class="container mx-auto max-w-container">
                    <div class="concrete-content">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {# CTA #}
    {% include 'partials/cta.twig' with {
        background: 'cc-light-grey'
    } %}

    {# Similar Projects #}
    {% if similar_projects %}
        {% include 'partials/latest-projects.twig' with {
            background: 'bg-cc-white',
            title: 'Related Projects',
            projects: similar_projects
        } %}
    {% endif %}

{% endblock %} 