@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

* {
    font-family: "Effra Trial", sans-serif;
}

.glide__arrow {
    border: none !important;
    box-shadow: none !important;
}

.fnt-bld {
    font-family: "Effra Medium";
    font-weight: 400;
}

/* Project Content - Gutenberg Styling */
.project-content {
    @apply text-cc-mid-grey;
}

.project-content p {
    @apply mb-6 text-sm max-w-[52rem];
}

.project-content h2 {
    @apply mb-4 text-xl font-medium text-cc-dark-grey;
}

.project-content h3 {
    @apply mb-3 text-lg font-medium text-cc-dark-grey;
}

.project-content h4 {
    @apply mb-3 text-sm font-medium text-cc-dark-grey;
}

.project-content ul {
    @apply pl-6 mb-6 text-sm list-disc;
}

.project-content ol {
    @apply pl-6 mb-6 text-sm list-decimal;
}

.project-content li {
    @apply mb-2;
}

.project-content img:not(.mwl-img){
    @apply my-6 w-full rounded-lg;
}

.project-content .mwl-img {
    @apply  rounded-lg;
}

/* mgl gallery */
.mgl-gallery-container {
    @apply relative py-20 my-16 bg-cc-light-grey;
}

/* extend the grey background to the left/right of the page, using a pseudo element */
.mgl-gallery-container::before {
    content: '';
    position: absolute;
    left: -1000vw;
    height: 100%;
    width: 5000vw;
    background-color: #d9d9d9;
    top: 0;
}

.project-content .wp-block-image figcaption {
    @apply mt-2 text-xs italic text-cc-dark-grey;
}

.project-content .wp-block-quote {
    @apply pl-4 mb-6 italic border-l-4 border-cc-dark-grey;
}

.project-content a {
    @apply underline text-cc-dark-grey;
}

.project-content a:hover {
    @apply opacity-80;
}