{# 
  Preserve Tailwind classes:
  border-cc-mid-grey border-cc-dark-grey border-cc-light-grey border-cc-grey border-cc-white
  text-cc-mid-grey text-cc-dark-grey text-cc-light-grey text-cc-grey text-cc-white
  hover:bg-cc-mid-grey hover:bg-cc-dark-grey hover:bg-cc-light-grey hover:bg-cc-grey hover:bg-cc-white
#}
{% set color = color|default('cc-dark-grey') %}
<a href="#" class="inline-block py-2 border rounded-lg px-7 text-2md border-{{ color }} text-{{ color }} hover:bg-{{ color }} hover:text-cc-white">See all work</a>
