{# Our Services #}
<div>
  <div class="bg-cc-mid-grey">
    <div class="container mx-auto max-w-container">
      <div class="py-20">
        <h3 class="mb-4 text-lg text-cc-white">{{ options.services_heading }}</h3>
        <div class="grid grid-cols-12">
          <div class="col-span-6">
            <p class="text-md text-cc-dark-grey">{{ options.services_description }}</p>
          </div>
          <div class="col-span-3 col-start-10">
            <ul>
              {% if options.services_items %}
                {% for service in options.services_items %}
                  <li>
                    <a class="underline transition-opacity text-cc-white text-md hover:opacity-50" href="{{ service.link }}">{{ service.title }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
